@charset "utf-8";
/* CSS Document */

body {
	padding: 0;
	margin: 0;
/*	background-color: #EEEEEE;*/
	background-image: url("fabric.jpg");
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

break {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
	margin-top: 10px; /* change this to whatever height you want it */
}

separator {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
	margin-top: 15px; /* change this to whatever height you want it */
	margin-bottom: 20px;
	width: 100%;
	height: 2px;
	background-color: #D6D6D6;
}

#wrapper {
	background-color: #FFFFFF;
	border: 4px solid rgba(0, 0, 0, 0.7);
	max-width: 800px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
/*	padding-top: 100px;*/
}

#errorbar {
	text-align: center;
	padding: 20px 0 20px 0;
	color: white;
	background: linear-gradient(0deg, rgba(255,102,102,1) 0%, rgba(255,0,0,1) 100%);
	display: none; 
}

#headerbar {
	height: 40px;
	padding: 10px;
	width: 780px;
	background: linear-gradient(#4b4b4b, #1c1c1c 80%, #2a2a2a);
}

#headerbar-thelogo {
	height: 35px;
	margin: 2.5px;
	float: left;
}

#headerbar-textcontainer {
	float: left;
	width: calc(780px - 40px - 45px - 140px);
	margin: 5px 0 0 20px;
	padding-left: 5px;
	height: 30px;
	background: linear-gradient(#383838, #141414);
	box-shadow: 0 0 10px 1px #000000 inset;
	overflow: hidden;
}

#headerbar-text {
	color: #BBBBBB;
	margin: 5px;
	transition: opacity 0.5s linear;
}

#headerbar-languagebutton {
	color: #BBBBBB;
	display: inline-block;
	margin: 10px -20px 0 20px;
}

#userbar {
	width: 100%;
	color: #FFFFFF;
}

#userbar textarea {
	width: 200px;
	height: 35px;
	margin-top: -5px;
	padding: 3px 3px 3px 6px;
	resize: none;
	
	background-color: rgba(0, 0, 0, 0);
	border: 3px solid #FFFFFF;
	border-radius: 8px;
	
	color: #FFFFFF;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

#userbar textarea:focus {
	outline: none
}

#userbar textarea::placeholder {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	color: rgba(255, 255, 255, 0.75);
}


#userbar-background {
	width: 100%;
	height: 150px;
	overflow: hidden;
}

#userbar-background-image {
	width: 100%;
	margin-top: -10px;
}

#userbar-profile {
	width: calc(100% - 40px);
	height: 100px;
	background-color: #B5B5B5;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5) inset;
	padding: 20px;
}

#userbar-profile-image-container {
	width: 100px;
	height: 100px;
	overflow: hidden;
	clip-path: circle();
	
	float: left;
	margin-right: 20px;
}

#userbar-profile-image {
	height: 100px;
}

#userbar-profile-welcome {
	float: left;
}

#userbar-profile-username {
	float: left;
	font-size: 25px;
	margin-top: -2px;
}

#userbar-profile-status {
	float: left;
}

#userbar-profile-updatestatus {
	float: left;
	margin-top: -5px;
	margin-left: 5px;
	text-align: center;
}

#userbar-profile-statusupdateinfo {
	display: inline;
	opacity: 0;
	background-color: #FFFFFF;
	color: #D2D2D2;
	padding: 5px;
	border-radius: 8px;
	
	float: left;
	margin-left: 10px;
	margin-top: 3px;
}

#userbar-welcome {
	text-align: center;
}

#adminbar {
	display: none;
}

#authbar-contents {
	padding: 20px;
	height: auto;
	max-height: 1000px;
/*	transition: max-height 0.25s ease, padding 0.25s ease;*/
	transition: all 0.5s ease 0s;
}

#authbar-contents-info {
	display: inline;
	opacity: 0;
	background-color: #FFFFFF;
	color: #D2D2D2;
	padding: 5px;
	border-radius: 8px;
	
	float: left;
	margin-right: 20px;
}

#authbar-welcome {
	display: none;
	text-align: center;
}

#authbar-welcome-image {
	width: 30%;
}

/*
#editbar {
	padding: 20px;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: -20px;
}
*/

.header {
	color: #D2D2D2;
/*	font-size: 20px;*/
/*
	font-weight: 600;
	margin-bottom: 20px;
*/
}

#postbar {
/*	padding: 20px;*/
}

#postbar-submitinfo {
	opacity: 0;
	float: left;
	background-color: #D2D2D2;
	color: #FFFFFF;
	margin-top: 5px;
	padding: 5px 8px 5px 8px;
	font-size: 14px;
	border-radius: 8px;
}

#postbar-extras {
	float: left;
	margin-top: 5px;
}

#postbar-extrascontent {
	line-height: 23px;
	display: none;
}

/*
#postbar-postinput {
	width: calc(100% - 7px);
	resize: none;
	font-family: Arial;
	font-size: 15px;
}
*/

#editbar {
	width: 100%;
}

#editbar-contents {
	padding: 0 20px 0 20px;
	height: auto;
	max-height: 0;
/*	transition: max-height 0.25s ease, padding 0.25s ease;*/
	transition: all 0.5s ease 0s;
}

#editbar-contents-info {
	display: inline;
	opacity: 0;
	background-color: #FFFFFF;
	color: #D2D2D2;
	padding: 5px;
	border-radius: 8px;
	
	float: left;
	margin-right: 20px;
	
	width: auto !important;
}

#notification {
	display: none;
}

#filterbar {
	word-spacing: 20px;
}

/*
#searchbar .barcontents {
	display: block !important;
}
*/

.searchbar-option {
	margin-right: 20px;
}

.searchbar-option-selected {
	color: #FFFFFF;
	text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF;
}

#filterbar-filter-help {
	display: none;
}

/*
#searchbar input[type='radio'] {
	width: 20px;
	height: 20px;
	border: 4px solid #FFFFFF;
	background-color: rgba(0, 0, 0, 0)
}
*/

.barheader, .barbody {
	width: calc(100% - 40px);
	padding: 20px;
	
	color: #D2D2D2;
	font-size: larger;
	
	border-top: 4px solid #D2D2D2;
	border-bottom: 4px solid #D2D2D2;
}

.barcontents {
	width: calc(100% - 40px);
	padding: 20px;
	overflow: hidden;
	
	color: #FFFFFF;
	
	background-color: #B5B5B5;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5) inset;
}

.barcontents input {
	width: calc(100% - 20px);
	margin-top: 5px;
	padding: 3px 3px 3px 6px;
	
	background-color: rgba(0, 0, 0, 0);
	border: 3px solid #FFFFFF;
	border-radius: 8px;
	
	color: #FFFFFF;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

.barcontents input:focus {
	outline: none
}

.barcontents input::placeholder {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	color: rgba(255, 255, 255, 0.75);
}

.barcontents button {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	
	margin-top: 5px;
	
	background-color: rgba(0, 0, 0, 0);
	border: 3px solid #FFFFFF;
	border-radius: 8px;
}

.barbody input, .barbody textarea {
	width: calc(100% - 20px);
	margin-top: 5px;
	padding: 3px 3px 3px 6px;
	
	background-color: rgba(0, 0, 0, 0);
	border: 3px solid #D2D2D2;
	border-radius: 8px;
	
	color: rgba(190, 190, 190, 1);
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

.barbody input:focus {
	outline: none
}

.barbody input::placeholder {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	color: rgba(190, 190, 190, 0.75);
}

.barbody textarea {
	resize: none
}

.barbody textarea::placeholder {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	color: rgba(190, 190, 190, 0.75);
}

.barbody button {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #D2D2D2;
	
	margin-top: 5px;
	margin-right: 6px;
	
	background-color: rgba(0, 0, 0, 0);
	border: 3px solid #D2D2D2;
	border-radius: 8px;
}

.barcontents-column {
	width: calc(50% - 20px);
	margin-right: 20px;
	float: left;
}

.smaller-input {
	float: left;
	width: calc(50% - 28px) !important;
	margin-right: 20px;
	margin-bottom: 4px;
}

.content-input {
	width: calc(50% - 24px);
	float: left;
	margin-right: 20px;
}

#feed-retrievalinfo {
	opacity: 0;
	background-color: #D2D2D2;
	color: #FFFFFF;
	margin-left: 10px;
	padding: 5px 8px 5px 8px;
	font-size: 14px;
	border-radius: 8px;
}

#feed-refresh {
	float: right;
}

.feed-selected {
	color: #FFFFFF;
	text-shadow: 0 0 10px #000000;
}

#post-starter {
	height: 50px !important;
}

.post {
/*	margin: 0px;*/
	width: calc(100% - 7px);
/*	height: 160px;*/
	
	background-color: #D2D2D2;
	border: 4px solid rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	
	margin-bottom: 20px;
}

.post-type-mention {
	background: linear-gradient(0deg, #D2D2D2 50%, #fdcb2d 100%);
	border: 4px solid rgba(255, 255, 255, 0.5);
}

.post-type-news {
	background: linear-gradient(0deg, #D2D2D2 50%, #578FCA 100%);
	border: 4px solid rgba(255, 255, 255, 0.5);
}

.post-top-bar {
	margin-top: 15px;
	height: 50px;
}

.post-author-avatar-container {
	width: 50px;
	height: 50px;
	overflow: hidden;
	clip-path: circle();
	
	float: left;
	margin: 15px;
	margin-top: 0
}

.post-author-avatar {
	height: 50px;
/*	background-image: url("https://placehold.co/80/png?text=...")*/
/*	filter: hue-rotate(20deg)*/
}

.post-author-name {
/*	height: 50px;*/
/*	margin-top: 15px;*/
	font-size: 22px
}

.post-contents {
	margin: 15px;
}

.post-info {
	margin-top: 10px;
	font-size: smaller;
}

.feed-user {
/*	margin: 0px;*/
	width: calc(100% - 7px);
	height: 160px;
	
	background-color: #D2D2D2;
	border: 4px solid rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	
	margin-bottom: 20px;
}

.feed-user-top-bar {
	margin-top: 15px;
	height: 50px;
}

.feed-user-author-avatar-container {
	width: 50px;
	height: 50px;
	overflow: hidden;
	clip-path: circle();
	
	float: left;
	margin: 15px;
	margin-top: 0
}

.feed-user-author-avatar {
	height: 50px;
/*	filter: hue-rotate(20deg)*/
}

.feed-user-author-name {
/*	height: 50px;*/
/*	margin-top: 15px;*/
	font-size: 22px
}

.feed-user-contents {
	margin: 15px;
}

.feed-user-info {
	margin-top: 10px;
	font-size: smaller;
}

#footer {
	height: 40px;
	padding: 10px;
	width: 780px;
	background: linear-gradient(#4b4b4b, #1c1c1c 80%, #2a2a2a);
	color: #BBBBBB;
}